In [4]:
import os
os.chdir("C:/Users/VAISHNAVI PATIL/Desktop/Assignments-ML")

In [1]:
#Q1)
mail_id = input()
i=0
while mail_id[i]!='@':
    i=i+1
i=i+1
while mail_id[i]!='.':
    print(mail_id[i],end='')
    i=i+1

john@google.com
google

In [4]:
#Q2)
words=[x for x in input().split(',')]
words.sort()
print(','.join(words))

without,hello,bag,world
bag,hello,without,world

# Q3) Jupyter NB for Sets-
   
   In python, Sets is an unordered, unindexed collection of data, enclosed with curly brackets.

In [38]:
#Creating and printing a set
set1 = {1, 2, 3, "Vaishnavi", 30.5}
print(set1)

{1, 2, 3, 'Vaishnavi', 30.5}

In [7]:
#traversing through set
for i in set1:
    print(i)

1
2
3
Vaishnavi
30.5

In [9]:
print(1 in set1) # check if an element is present or not

True

## Editing the set
Once the set is created, we can not change the elements, but we can add elements to it.

In [39]:
# for adding only 1 element
set1.add("new") #order can be different
print(set1)
#for adding more than 1 elements
set1.update(["new2","new3","new4"])  #order can be different
print(set1)

{1, 2, 3, 'new', 'Vaishnavi', 30.5}
{1, 2, 3, 'new2', 'new4', 'new3', 'new', 'Vaishnavi', 30.5}

### Methods

In [40]:
#1) Print length
print("length=",len(set1))
#2)Remove elements
set1.remove("new4")
print(set1)
set1.discard("new")
print(set1)
set1.pop() # removes last element
print(set1)
set1.clear() # clears the set
print(set1)
del set1 #completely deletes
print(set1) #so, this gives error

length= 9
{1, 2, 3, 'new2', 'new3', 'new', 'Vaishnavi', 30.5}
{1, 2, 3, 'new2', 'new3', 'Vaishnavi', 30.5}
{2, 3, 'new2', 'new3', 'Vaishnavi', 30.5}
set()

NameError: name 'set1' is not defined

## Joining two sets

In [1]:
set1 = {1,2,3}
set2={"apple","banana","cat"}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'banana', 'cat', 'apple'}

In [10]:
# Q4)
def add(a,b):
    return (a+b)

#import reduce
import functools 
from functools  import reduce
#take input
l = [x for x in input().split(' ')]
#covert string into int
for i in range(0, len(l)): 
    l[i] = int(l[i])
#find sum    
sums = reduce(add,l)
#find tot sum(w/o missing number)
n=len(l)+1
tot = ((n+1)*(n))/2
print(tot-sums)

1 2 4 6 3 7 8
5.0

In [11]:
#Q5) 
l = [x for x in input().split(' ')]
l=list(dict.fromkeys(l))
print(l)

12 24 35 24 88 120 155 88 120 155
['12', '24', '35', '88', '120', '155']