In [1]:
%matplotlib inline
import pandas as pd

In [ ]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

### How many movies are listed in the titles dataframe?

In [4]:
titles['title'].count()

244914

So, 244914 movies are listed in the titles dataframe.

### What are the earliest two films listed in the titles dataframe?

In [7]:
titles.sort_values('year').head(2)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

The earliest two films were Miss jerry and The Startled Lover.

### How many movies have the title "Hamlet"?

In [8]:
len(titles[titles.title=='Hamlet'])

20

There are 20 movies titled Hamlet.

### How many movies are titled "North by Northwest"?

In [9]:
len(titles[titles.title=='North by Northwest'])

1

There is one movie with the title "North by Northwest".

### When was the first movie titled "Hamlet" made?

In [10]:
titles[titles.title=='Hamlet'].sort_values('year').head(1)

        title  year
52521  Hamlet  1910

The first movie titled "Hamlet" was made in 1910.

### List all of the "Treasure Island" movies from earliest to most recent.

In [11]:
titles[titles.title=='Treasure Island'].sort_values('year')

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [48]:
titles.query('year == "1950"').year.count()

1113

### How many movies were made in the year 1960?

In [47]:
titles.query('year == "1960"').year.count()

1549

### How many movies were made from 1950 through 1959?

In [56]:
a = titles.query('year>=1950').year.count()
b = titles.query('year>1959').year.count()
print(a-b)

12934

### In what years has a movie titled "Batman" been released?

In [4]:
release_dates = pd.read_csv('release_dates.csv')
l=release_dates[release_dates.title=='Batman'].year
l=list(dict.fromkeys(l))
print(l)

[1943, 1989]

### How many roles were there in the movie "Inception"?

In [2]:
cast = pd.read_csv('cast.csv')
cast.head(10)

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,31.0
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
5,Straight Outta Compton,2015,$hutter,actor,Club Patron,NaN
6,Straight Outta Compton,2015,$hutter,actor,Dopeman,NaN
7,For Thy Love 2,2009,Bee Moe $lim,actor,Thug 1,NaN
8,"Lapis, Ballpen at Diploma, a True to Life Journey",2014,Jori ' Danilo' Jurado Jr.,actor,Jaime (young),9.0
9,Desire (III),2014,Syaiful 'Ariffin,actor,Actor Playing Eteocles from 'Antigone',NaN

In [9]:
len(cast[cast.title=='Inception'])
#cast.query('title == "Inception"').count()

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [21]:
d = cast[cast.title=='Inception']
null_values = d['n'].isnull().sum(axis = 0)
print(null_values)

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [23]:
not_null_values = d['n'].notnull().sum(axis = 0)
print(not_null_values)

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [12]:
new=cast[cast.title=='North by Northwest'].sort_values('n')
new.dropna()

,title,year,name,type,character,n
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1457165,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3157232,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3048272,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1695173,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1275337,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2447081,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1811387,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
665768,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2295714,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
464736,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1508344,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
206471,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1384780,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [13]:
new=cast[cast.title=='Sleuth'].sort_values('n')
new[new.year==1972]

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [29]:
new=cast[cast.title=='Sleuth'].sort_values('n')
new2=new[new.year==2007]
new2.dropna()

          title  year           name   type    character    n
326774   Sleuth  2007  Michael Caine  actor       Andrew  1.0
1293634  Sleuth  2007       Jude Law  actor         Milo  2.0
1805907  Sleuth  2007  Harold Pinter  actor  Man on T.V.  3.0

### How many roles were credited in the silent 1921 version of Hamlet?

In [44]:
new=cast[cast.title=='Hamlet']
#new[new.year==1921].value_counts()
new2=new[new.year==1921]
new2['character'].value_counts()

K?nig Hamlet        1
Fortinbras,         1
Horatio             1
Polonius            1
Hamlet              1
Laertes             1
Claudius            1
Ophelia             1
K?nigin Gertrude    1
Name: character, dtype: int64

There 9 roles.

### How many roles were credited in Branagh’s 1996 Hamlet?

In [39]:
a=cast[cast.title=='Hamlet']
a=a[a.year==1996]
a[a.name=='Kenneth Branagh']

         title  year             name   type character    n
260225  Hamlet  1996  Kenneth Branagh  actor    Hamlet  5.0

In [46]:
a=a.dropna()
print(a['character'].count())
a['character'].value_counts()

46

Attendant to Gertrude       3
Attendant to Claudius       3
Fortinbras's Captain        2
Doctor                      1
English Ambassador          1
First Player                1
Young Lord                  1
Francisco                   1
Laertes                     1
Fortinbras                  1
Hamlet                      1
Yorick                      1
Lucianus                    1
Voltimand                   1
Old Norway                  1
Second Gravedigger          1
Cornelius                   1
Rosencrantz                 1
Young Hamlet                1
Osric                       1
Sailor Two                  1
Hecuba                      1
Barnardo                    1
Claudius                    1
Gertrude                    1
Horatio                     1
Polonius                    1
Second Player               1
Player Queen                1
First Gravedigger           1
Priest                      1
Reynaldo                    1
Sailor One                  1
Ophelia                     1
Marcellus                   1
Priam                       1
Prologue                    1
Guildenstern                1
Stage Manager               1
Ghost of Hamlet's Father    1
Player King                 1
Name: character, dtype: int64

### How many "Hamlet" roles have been listed in all film credits through history?

In [48]:
a=cast[cast.character=='Hamlet']
a['character'].count()

96

In [50]:
a

,title,year,name,type,character,n
6286,Sugar,2008,Hamlet Abreu,actor,Hamlet,58.0
97830,Top of the Town,1937,Mischa Auer,actor,Hamlet,6.0
125190,The Sound of Spying,2014,Jonathan Ball,actor,Hamlet,NaN
160794,Suivez cet avion,1989,Fran?ois Beaulieu,actor,Hamlet,26.0
161104,Nous sommes les autres,2017,Marc Beaupr?,actor,Hamlet,NaN
...,...,...,...,...,...,...
2615644,Hamlet_X,2003,Meret Becker,actress,Hamlet,NaN
2728421,Bill Shakespeare in Hollywood,2011,Rafika Chawishe,actress,Hamlet,NaN
2944632,Intikam Melegi/Kadin Hamlet,1976,Fatma Girik,actress,Hamlet,1.0
3355176,Hamlet,1921,Asta Nielsen,actress,Hamlet,1.0
3405990,Hamlet,2015,Maxine Peake,actress,Hamlet,1.0

### How many people have played an "Ophelia"?

In [67]:
a=cast[cast.character=='Ophelia']
l=a['name']
l=list(dict.fromkeys(l))
len(l)

115

### How many people have played a role called "The Dude"?

In [68]:
a=cast[cast.character=='The Dude']
l=a['name']
l=list(dict.fromkeys(l))   # for removing repeats
len(l)

19

### How many people have played a role called "The Stranger"?

In [69]:
a=cast[cast.character=='The Stranger']
l=a['name']
l=list(dict.fromkeys(l))
len(l)

202

### How many roles has Sidney Poitier played throughout his career?

In [70]:
a=cast[cast.name=='Sidney Poitier']
l=a['character']
l=list(dict.fromkeys(l))
len(l)

41

### How many roles has Judi Dench played?

In [71]:
a=cast[cast.name=='Judi Dench']
l=a['character']
l=list(dict.fromkeys(l))
len(l)

46

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [52]:
c=cast[cast.name=='Cary Grant']
c=c.applymap(str)
c=c[c['character'].str.contains('Supporting')]
c = c[c['year'].str.contains('194')]
c=c.sort_values('year')
c

Empty DataFrame
Columns: [title, year, name, type, character, n]
Index: []

In [ ]:
No supproting roles were played by him.

In [18]:
c=cast[cast.name=='Cary Grant']
c=c[c.n==2]
c=c.applymap(str)
c = c[c['year'].str.contains('194')]
c=c.sort_values('year')
c

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [55]:
c=cast[cast.name=='Cary Grant']
c=c.applymap(str)
c=c[c['character'].str.contains('Leading')]
c = c[c['year'].str.contains('194')]
c=c.sort_values('year')
c

Empty DataFrame
Columns: [title, year, name, type, character, n]
Index: []

No leading roles were played by Cary Grant

In [16]:
c=cast[cast.name=='Cary Grant']
c=c[c.n==1]
c=c.applymap(str)
c = c[c['year'].str.contains('194')]
c=c.sort_values('year')
c

,title,year,name,type,character,n
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [21]:
actor = cast[cast.type=='actor']
# change year to string
actor=actor.applymap(str)
actor = actor[actor['year'].str.contains('195')]
print(actor['type'].value_counts())

actor    157738
Name: type, dtype: int64

In [4]:
# unique character roles
l=actor['character']
l=list(dict.fromkeys(l))
len(l)

93369

### How many roles were available for actresses in the 1950s?

In [20]:
actor = cast[cast.type=='actress']
# change year to string
actor=actor.applymap(str)
actor = actor[actor['year'].str.contains('195')]
print(actor['type'].value_counts())

actress    57733
Name: type, dtype: int64

In [9]:
# unique character roles
l=actor['character']
l=list(dict.fromkeys(l))
len(l)

36266

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [30]:
c=cast[cast.year<=1980]
c=c.sort_values('year')
c=c[c['character'].str.contains('leading role')]
c=c[c.n==1]
c

,title,year,name,type,character,n
1814758,Baril sa aking kamay,1966,Fernando Poe Jr.,actor,Ariel (in the leading role),1.0

### How many non-leading roles were available through from the beginning of film history through 1980?

In [41]:
c=cast[cast.year<=1980]
total = c['type'].count()
c=c[c['character'].str.contains('leading role')]
leading=c['type'].count()
non_leading=total-leading
print(non_leading)

1182806

In [43]:
# unique roles
c=cast[cast.year<=1980]
l=c['character']
l=list(dict.fromkeys(l))
total=len(l)
c=c[c['character'].str.contains('leading role')]
l=c['character']
l=list(dict.fromkeys(l))
leading=len(l)
non_leading=total-leading
print(non_leading)

609596

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [51]:
c=cast[cast.year<=1980]
c=c[c['character'].str.contains('Minor Role')]
not_null_values = c['n'].notnull().sum(axis = 0)
print(not_null_values)

73